@font-face{
    font-family: "Icon";
    src: url('fonts/Pe-icon-7-stroke.woff')
}
@font-face{
    font-family: "Awe";
    src: url('fonts/fontawesome-webfont.woff')
}
$blue: #061a44;
$green: #689f38;
$grey: #f4f4f4;
@mixin screen ($media) {
   @if $media == medium {
        @media (max-width: 900px) {@content};
    } 
}
*{
    padding: 0;
    margin: 0;
    font-family: Segoe UI; 
    //
}
.tech_info{
    background-color: black;
    color: white;
    @include screen(medium){
		display: none;
	}
}
.tech_info_box{
    //min-height: 40px;
    margin:  0 3%;
    display: flex;
    justify-content: space-between;
}
.tech_info_box .beta{
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    background-color: #333333;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    
}
.tech_info_box .info{
    line-height: 40px;
    padding-left: 21%;
    color: #767676;
    font-size: 14px;
}
.tech_info_box .info a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.tech_info_box .close_info{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-right: 1.5%;
    margin-right: 2%;
    line-height: 40px;
    position: relative;
    &:after{
        font-family: Icon;
        font-size: 30px;
        content: "\e680";
        position: absolute;
        color: white;
        top: 0;
        right: 1%;
        transition: 1s all;
    }
}
.basis_general_link{
    min-height: 65px;
    background-color: $blue;
    color: white;
    @include screen(medium){
		display: none;
	} 
    
}
.basis_general_link a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 13px;
    margin: 12px 0;
    font-size: 14px;
    margin-right: 16px;
    border-radius: 2px;
    transition: 500ms all;
    &:hover{
        background-color: $green;
    }
  
}

.general_link{
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
}
.general_link_1{
    display: flex;
}
.general_link_1 .catalog{
    padding-left: 25px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        padding: 8px;
        background: url(img/qs.png) center center/contain no-repeat;
        top: 15px;
        left: 2px;
    }
}
.general_link_1 .public_service{
    background-color: $green;
    padding: 15px 14px 15px 20px;
}
.general_link_1 .declaration{
 border: 0.5px solid #515f7c;
}
.general_link_1 .shearch{
    font-family: Icon;
    font-weight: 600;
    font-size: 20px;
}
.basis_nav_d{
    
    border-bottom: 1px solid #dedede;
    @include screen(medium){
		display: none;
	}
}
.basis_nav_d .nav_d{
    max-width: 1120px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
}
.basis_nav_d .nav_d a{
    display: block;
    margin: 32px 0;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.basis_nav_d .nav_d .logo{
    padding: 25px;
    background: url(img/logo.png) center center/contain no-repeat;
    margin: 15px 0;
    margin-right: 226px;
}
.basis_nav_d .nav_d .more{
    line-height: 1px;
    font-size: 31px;
}
.m_menu{
    display: none;
    @include screen(medium){
        display: block;
        color: white;
        width: 100%;
        
        position: fixed;
        top: 0;
        background-color: $green;
	}
}
.tech_m_menu{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.tech_m_menu .qs{
    margin-right: 30px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    &:after{
        content: "";
        position: absolute;
        padding: 8px;
        background: url(img/qs.png) center center/contain no-repeat;
        top: 3px;
        left: 50px;
    }


}
.m_block{
    display: none;
    @include screen(medium){
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 125px;
        margin-bottom: 40px;
    }
	
}
.m_block .logo{
    width: 60px;
    height: 60px;
    background: url(img/logo.png) center center/contain no-repeat;
}
.m_block .h1{
    font-weight: 600;
    font-size: 20px;
    width: 75%;

}
.general_block{
    max-width: 1120px;
    margin:  90px auto;
    display: flex;
    justify-content: space-between;
    @include screen(medium){
		display: none;
	}
}
.general_block_basis_h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.167;
    margin-bottom: 30px;
}
.general_block_basis_p{
    font-size: 22px;
}
.general_block_link p {
    display: block;
    padding-right: 190px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}
.general_block_link a{
    display: block;
    margin-top: 30px;
    padding-right: 190px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    &::before{
        content: "\e684";
        font-family: Icon;
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        
    }
}
.news_block{
    max-width: 1120px;
    margin:  0 auto;
    margin-bottom: 90px;
@include screen(medium){
    width: 90%;
    margin: 0 auto;

}
}
.news_block .general_news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @include screen(medium){
        flex-direction: column;
        
	}

}
.news_block .general_news .general_img{
    margin-top: 13px;
}
.news_block .general_news img{
    width: 735px;
    height: 415px;
    @include screen(medium){
        width: 100%;
        height: 30%;
        
        
	}
}
.news_block .general_news .general_description{
    margin-left: 30px;
    font-size: 14px;
    color: rgb(112, 112, 112);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include screen(medium){
		margin-left: 0;
	}
}
.news_block .general_news .general_description .artical{
    font-size: 36px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-bottom: 178px;
    &:hover{
        text-decoration: underline;
    }
    @include screen(medium){
		margin-bottom: 20px;
	}
}
.news_block .other_news{
    display: flex;
    justify-content: space-between;
    @include screen(medium){
        flex-direction: column;
        margin-bottom: 40px;
	}
}
.news_block .other_news .news{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include screen(medium){
        width: 100%;
        margin: 0 auto;
	}
}
.news_block .other_news .news img{
    width: 350px;
    height: 200px;
    @include screen(medium){
		display: none;
	}
}
.news_block .other_news .news .artical{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin: 30px 0;
    &:hover{
        text-decoration: underline;
    }

}
.news_block .other_news .news p{
    font-size: 14px;
    color: rgb(112, 112, 112);
}
.s3{
    background-color: $grey;
    padding: 90px 0;
    @include screen(medium){
		padding: 60px 0;
	}
}
.servic{
    margin: 0 auto;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    @include screen(medium){
        flex-direction: column;
        width: 90%;
	}
    
}
.servic .popular_servic{
    width: 59%;
    @include screen(medium){
		width: 100%;
	}
}
.servic .popular_servic h2{
    margin-bottom: 30px;
}
.servic .popular_servic a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 45px 30px; 
    margin-bottom: 5px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
        
}
.servic .popular_servic a .arrow{
    font-family: Icon;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;
    background: url(img/nt.png) center center/contain no-repeat;
  
}
.servic .popular_servic a .gosuslugi .logo_gos{
    width: 140px;
    height: 22px;
    background: url(img/gosservis.png) center center/contain no-repeat;
}
.servic .popular_servic a .gosuslugi p{
    font-size: 14px;
    color: #a8a8a8;
}
.servic .participate{
    width: 38%;
    @include screen(medium){
		width: 100%;
	}
} 
.servic .participate h2{
    margin-bottom: 30px;
}
.servic .participate .first{
    padding-top: 30px;
}
.servic .participate a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: $green;
    padding: 15px 30px; 
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
        
}
.servic .participate .arrow{
    font-family: Icon;
}
.servic .participate .button{
    background-color: white;
    color: $green;
    text-align: center;
    padding: 20px 101px;
    border-radius: 5px;
    @include screen(medium){
		padding: 20px 34%;
	}
}
.servic .participate .last{
    padding-bottom: 30px;
}
footer{
    background-color:$grey;
    padding: 80px 0;
    @include screen(medium){
		padding: 20px 0;
	}
}
.table{
    margin: 0 auto;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    @include screen(medium){
        width: 90%;
        flex-direction: column;
	}
}
.table .tr{
    width: 31%;
    @include screen(medium){
		width: 100%;
	}
}
.table .tr .logo{
    width: 60px;
    height: 60px;
    background: url(img/logo.png) center center/contain no-repeat;
    margin-bottom: 20px;
    @include screen(medium){
		display: none;
	}
    
}
.table .tr h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.table .tr p{
    font-size: 16px;
    @include screen(medium){
		margin-bottom: 10px;
	}
}
.table .tr .mobil_adress{
    display: none;
    @include screen(medium){
        display: inline-block;
        margin-bottom: 30px;
	}
}
.table .tr .dec_adress{
    
    @include screen(medium){
        display: none;
	}
}
.table .tr a{
    display: block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    @include screen(medium){
		font-weight: 600;
	}
}
.table .tr .d_link{
    @include screen(medium){
		display: none;
	}
}
.table .tr .m_link{
    display: none;
    @include screen(medium){
		display: block;
	}
}
.table .tr .snetwork{
    margin-top: 30px;
    margin-bottom: 140px;
    @include screen(medium){
		margin-bottom: 30px;
	}
}
.table .tr .snetwork a {
    display: inline;
    font-family: Awe;
    font-size: 20px;
    margin-right: 10px;
}
.table .tr .copy{
    color: rgba(0, 0, 0, 0.702);
    font-size: 12px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        padding: 10px;
        background: url(img/copy.png) center center/contain no-repeat;
        top: 5px;
        left: -26px;
    }
    @include screen(medium){
		margin-left: 20px;
	}
}
