@font-face{
    font-family: "Icon";
    src: url('fonts/Pe-icon-7-stroke.woff')

}
*{
    padding: 0;
    margin: 0;
    font-family: Segoe UI; 
    //
}
.tech_info{
    background-color: black;
    color: white;
}
.tech_info_box{
    //min-height: 40px;
    margin:  0 3%;
    display: flex;
    justify-content: space-between;
}
.tech_info_box .beta{
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    background-color: #333333;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    
}
.tech_info_box .info{
    line-height: 40px;
    padding-left: 20%;
    color: #767676;
    font-size: 14px;
}
.tech_info_box .info a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.tech_info_box .close_info{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-right: 5%;
    line-height: 40px;
    position: relative;
    &:after{
        font-family: Icon;
        font-size: 30px;
        content: "\e680";
        position: absolute;
        color: white;
        top: 0;
        right: 60px;
        transition: 1s all;
    }
}