*{
    padding: 0;
    margin: 0;
}
.tech_info{
    background-color: black;
    color: white;
}
.tech_info_box{
    min-height: 40px;
    margin:  0 3%;
    display: flex;
    justify-content: space-between;
}